.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 440px) {
  .blc {
    font-size: 50px !important;
    /*color: #3a9186;*/
  }
}

.blc {
  font-size: 70px;
}

@media only screen and (max-width: 449px) {
  .cd-words-wrapper b.is-visible {
    position: relative;
    font-size: 50px;
  }
}

@media only screen and (max-width: 360px) {
  .cd-words-wrapper b.is-visible {
    position: relative;
    font-size: 40px;
  }
}

.cd-words-wrapper b.is-visible {
  position: relative;
  /*font-size: 40px;*/
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

@media (max-width: 360px) {
  .cd-headline.clip .cd-words-wrapper {
    /*overflow: hidden;*/
    /*vertical-align: top;*/
    padding: 0;
    font-size: 50px;
  }
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  /*font-size: 50px;*/
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

