[type=radio]{
    display: none;
}

  #slider {
      height: 35vw;
      margin: 80px auto;
      perspective: 1000px;
      transform-style: preserve-3d;
      position: relative;
      border-radius: 20px;
  }

  #slider label{
      position: absolute;
      margin: auto;
      width: 60%;
      height: 100%;
      left: 0;
      right: 0;
      cursor: pointer;
      transition: transform 0.4s;
      border-radius: 20px;
  }

#sd1:checked ~ #slide-4, #sd2:checked ~ #slide-5,
#sd3:checked ~ #slide-1, #sd4:checked ~ #slide-2,
#sd5:checked ~ #slide-3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#sd1:checked ~ #slide-5, #sd2:checked ~ #slide-1,
#sd3:checked ~ #slide-2, #sd4:checked ~ #slide-3,
#sd5:checked ~ #slide-4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#sd1:checked ~ #slide-1, #sd2:checked ~ #slide-2,
#sd3:checked ~ #slide-2, #sd4:checked ~ #slide-4,
#sd5:checked ~ #slide-5{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
 
#sd1:checked ~ #slide-2, #sd2:checked ~ #slide-3,
#sd3:checked ~ #slide-3, #sd4:checked ~ #slide-5,
#sd5:checked ~ #slide-1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}


#sd1:checked ~ #slide-3, #sd2:checked ~ #slide-4,
#sd3:checked ~ #slide-5, #sd4:checked ~ #slide-1,
#sd5:checked ~ #slide-2{
    box-shadow: 0 1px 4px 0 rgba (0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

.image-title-link {
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: inherit;
    color: white;
    height: 60px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}
