.logo {
  width: 55px;
}

.black {
  background-color: #252525;
  padding: 17px 6%;
  transition: .7s;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.46);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.46);
}

.cool-links::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #bdbff7;
  transition: width .5s;
  transform: translateY(3px);
}

.cool-links:hover::after {
  transition: width .5s;
  width: 50%;
}

.cool-links: hover::after {
  transition: width .5s;
  width: 50%;
}

.cool-links:hover {
  color: #bdbff7;
  transition: .5s;
}

.d-flex.justify-content-center.align-items-center {
  top: 200px;
  position: absolute;
  left: 90px;
}

@media (max-width: 576px) {
  .d-flex.justify-content-center.align-items-center {
    top: 150px;
  }
}

.h3-text-center {
  color: rgb(242,245,248);
  font-weight: normal;
}

@media (max-width: 970px) {
  .d-flex.justify-content-center.align-items-center {
    width: 100%;
    top: 240px;
    left: 0;
  }
}

#main {
  background-image: url("/assets/img/new-background.jpg");
  height: 700px;
  background-size: cover;
}

#main {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 360px) {
  #main {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    height: 100px;
  }
}

@media (max-width: 768px) {
  #main {
    max-width: 100%;
    height: 670px;
  }
}

@media (max-width: 767px) {
  #title, .h3-text-center {
    text-align: center !important;
  }
}

#about-me {
  background-color: #817f7f;
  height: 500px;
  align-content: center;
  position: relative;
  justify-content: center;
}

@media (max-width: 360px) {
  #about-me {
    display: flex;
    background-color: #817f7f;
    height: 700px;
    width: 100%;
  }
}

@media (max-width: 360px) {
  #about-me .img-1 {
    display: none;
  }
}

@media (max-width: 360px) {
  #about-me .img-2 {
    display: none;
  }
}

#about-me .img-1 {
  position: absolute;
  top: 200px;
  height: 250px;
  width: 250px;
  left: 13%;
}

#about-me .img-2 {
  position: absolute;
  top: 90px;
  height: 250px;
  width: 250px;
  left: 25%;
}

.btn-primary {
  background-color: rgba(255,255,255,0.8);
  color: black;
  height: 60px;
  font-weight: bold;
  width: 130px;
  border-color: rgba(0,0,0,0);
  font-size: 15px;
  margin: 10px;
}

@media (max-width: 768px) {
  .btn-primary {
    background-color: rgba(255,255,255,0.8);
    color: black;
    height: 60px;
    font-weight: bold;
    width: 130px;
    font-size: 15px;
    margin: 10px;
    z-index: 100;
  }
}

@media (max-width: 768px) {
  #about-div {
    text-align: justify;
    color: white;
    padding: 0 30px;
    z-index: 100;
  }
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #625f5f !important;
  border-color: #ffffff !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #817f7f !important;
  border-color: #ffffff !important;
}

#about-me-section {
  display: flex;
  align-items: center;
  height: inherit;
  flex-wrap: nowrap;
  text-align: justify;
  justify-content: center;
  padding: 100px 50px 70px 70px;
}

@media (max-width: 360px) {
  #about-me-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 0;
  }
}

@media (max-width: 768px) {
  #about-me-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 0 30px 0;
    height: inherit;
  }
}

.about-me-h1 {
  width: 1300px;
  color: white;
  font-size: 50px;
  z-index: 100;
}

#about-div {
  z-index: 100;
  color: white;
}

@media (min-width: 992px) {
  #about-div {
    z-index: 100;
    color: white;
    padding: 0 30px;
  }
}

.about-buttons {
  display: flex;
  z-index: 200;
}

@media (max-width: 768px) {
  .about-buttons {
    display: flex;
    z-index: 200;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .about-me-h1 {
    width: 1800px;
    /*padding-bottom: 150px;*/
  }
}

@media (max-width: 768px) {
  .about-me-h1 {
    width: 250px;
  }
}

.about-me-h1::after {
  content: '';
  display: block;
  width: 50%;
  height: 3px;
  background: #8a8ef1;
  transition: width .5s;
  /*transform: translateX(0px);*/
}

@media (min-width: 1300px) {
  .about-me-h1::after {
    transform: translateX(15px);
  }
}

#sevices {
  height: 1000px;
  padding: 20px;
  text-align: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 34%, rgba(202,202,202,1) 44%, rgba(0,0,0,1) 200%);
}

@media (max-width: 992px) {
  #sevices {
    height: 900px;
  }
}

@media (max-width: 768px) {
  #sevices {
    height: 1650px;
  }
}

@media (max-width: 360px) {
  #sevices {
    height: 1300px;
  }
}

.services-title {
  padding: 40px 150px 0 150px;
}

@media (max-width: 768px) {
  .services-title {
    padding: 40px 0;
  }
}

@media (max-width: 360px) {
  .services-title {
    padding: 40px 0;
    text-align: justify;
  }
}

.services-h1::after {
  content: '';
  display: block;
  width: 50%;
  height: 3px;
  background: #8a8ef1;
  transition: width .5s;
}

.services-h1 {
  /*width: 150px;*/
  display: inline-block;
  /*text-align: center !important;*/
  /*align-items: center;*/
}

#services-main-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-first-child {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .services-first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.services-image {
  width: 500px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .services-image {
    margin: 10px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  .services-image {
    margin: 15px;
    width: 600px;
  }
}

@media (max-width: 576px) {
  .services-image {
    margin: 15px;
    width: 500px;
  }
}

@media (max-width: 510px) {
  .services-image {
    margin: 15px;
    width: 400px;
  }
}

@media (max-width: 360px) {
  .services-image {
    margin: 15px;
    width: 320px;
    height: 200px;
  }
}

#services-UI {
  background-image: url(/assets/img/alvaro-reyes-qWwpHwip31M-unsplash.jpg);
  background-size: cover;
}

.text-white {
  margin: 0;
  padding: 15px 0 0px 0;
  text-align: justify;
}

@media (max-width: 360px) {
  .text-white {
    margin: 0;
    /*padding: 15px 0 0px 0;*/
    text-align: justify;
  }
}

.services-paragraph {
  margin: 0;
  /*height: 50px;*/
  line-height: normal;
  color: white;
  text-align: justify;
}

@media (max-width: 360px) {
  .services-paragraph {
    /*margin: 0;*/
    /*height: 50px;*/
    /*line-height: normal;*/
    /*color: white;*/
    /*text-align: center;*/
    display: none;
  }
}

.services-overlay-1 {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background-color: rgba(60,67,232,0.76);
  display: flex;
  flex-direction: column;
  padding: 50px;
  /*text-align: justify;*/
  /*line-height: normal;*/
  /*justify-content: space-around;*/
}

@media (max-width: 768px) {
  .services-overlay-1 {
    width: inherit;
  }
}

@media (max-width: 576px) {
  .services-overlay-1 {
    width: inherit;
  }
}

@media (max-width: 360px) {
  .services-overlay-1 {
    width: inherit;
    height: inherit;
  }
}

.services-logo {
  width: 75px;
  height: 100px;
}

@media (max-width: 400px) {
  .services-logo {
    width: 45px;
    height: 50px;
  }
}

#services-web-dev {
  background-image: url(/assets/img/emile-perron-xrVDYZRGdw4-unsplash.jpg);
  background-size: cover;
}

.services-overlay-2 {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background-color: rgba(227,191,5,0.84);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media (max-width: 768px) {
  .services-overlay-2 {
    width: inherit;
  }
}

@media (max-width: 576px) {
  .services-overlay-2 {
    width: inherit;
  }
}

@media (max-width: 360px) {
  .services-overlay-2 {
    width: inherit;
    height: inherit;
    padding: 25px 50px;
  }
}

#services-encoding {
  background-image: url(/assets/img/pexels-photo-160107.jpeg);
  background-size: cover;
}

.services-overlay-3 {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background-color: rgba(145,1,27,0.87);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media (max-width: 768px) {
  .services-overlay-3 {
    width: inherit;
  }
}

@media (max-width: 576px) {
  .services-overlay-3 {
    width: inherit;
  }
}

@media (max-width: 360px) {
  .services-overlay-3 {
    width: inherit;
    height: inherit;
  }
}

#services-design {
  background-image: url(/assets/img/you-x-ventures-Oalh2MojUuk-unsplash.jpg);
  background-size: cover;
}

.services-overlay-4 {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background-color: rgba(2,142,7,0.83);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media (max-width: 768px) {
  .services-overlay-4 {
    width: inherit;
  }
}

@media (max-width: 576px) {
  .services-overlay-4 {
    width: inherit;
  }
}

@media (max-width: 360px) {
  .services-overlay-4 {
    width: inherit;
    height: inherit;
  }
}

#latest-works-section {
  height: 1100px;
  color: white;
  text-align: center;
  background: rgb(129,127,127);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 34%, rgba(202,202,202,1) 44%, rgba(0,0,0,1) 200%);
}

@media (max-width: 400px) {
  #latest-works-section {
    height: 550px;
    padding: 0;
  }
}

@media (max-width: 750px) {
  #latest-works-section {
    height: 650px;
    padding: 0;
  }
}

.hire-me-parent {
  width: 100%;
  height: 350px;
  background-image: url(/assets/img/maxwell-nelson-Ix64NPGxZoQ-unsplash.jpg);
  background-size: cover;
  /*display: flex;*/
}

.hire-overlay {
  background-color: rgba(10,10,10,0.73);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 576px) {
  .hire-overlay {
    justify-content: left;
    align-items: flex-start;
    padding: 0px 20px 20px 20px;
  }
}

.hire-overlay h1 {
  color: white;
  margin: 40px;
}

@media (max-width: 576px) {
  .hire-overlay h1 {
    color: white;
    margin: 40px 70px 40px 10px;
  }
}

.hire-overlay h1::after {
  content: '';
  display: block;
  margin-top: 20px;
  width: 50%;
  height: 3px;
  /*position: relative;*/
  background: #8a8ef1;
  /*transition: width .5s;*/
  transform: translateX(50%);
}

@media (max-width: 576px) {
  .hire-overlay h1::after {
    transform: translateX(0);
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
  height: 800px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

}

